* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

#search-box {
  font: inherit;
  padding: 8px;
  max-width: 320px;
  margin-bottom: 16px;
  margin-left: 16px;
  margin-top: 16px;
  border-radius: 7px;
}

.country-list {
  list-style: none;
  max-width: fit-content;
  padding: 10px;
}

.country-item {
  display: flex;
  align-items: center;
  -webkit-animation: fadeinout 500ms linear forwards;
  animation: fadeinout 500ms linear forwards;
  opacity: 0;
}

.listed-country {
  background: #21212144;
  padding: 10px;
  border-radius: 3px;
  align-items: center;
  max-width: 400px;
  vertical-align: middle;
  font-weight: 700;
}

.flag {
  width: 60px;
  height: 40px;
  margin: 10px;
  border: #2121212d solid 2px;
  border-radius: 3px;
  -webkit-box-shadow: 5px 5px 10px -6px rgba(66, 68, 90, 1);
  -moz-box-shadow: 5px 5px 10px -6px rgba(66, 68, 90, 1);
  box-shadow: 5px 5px 10px -6px rgba(66, 68, 90, 1);
}

.container {
  display: flex;
  flex-direction: column;
  background-color: bisque;
  max-width: 400px;
  border-radius: 7px;
  border: 3px dotted rgba(0, 0, 0, 0.199);
}

.country-info {
  margin-left: 16px;
  font-size: large;
  -webkit-animation: fadeinoutcountry 500ms linear forwards;
  animation: fadeinoutcountry 500ms linear forwards;
  opacity: 0;
}

.country-name {
  font-size: 32px;
  font-weight: 800;
}

.country-info-flag {
  max-width: 200px;
  border: #2121212d solid 2px;
  border-radius: 3px;
  -webkit-box-shadow: 5px 5px 10px -6px rgba(66, 68, 90, 1);
  -moz-box-shadow: 5px 5px 10px -6px rgba(66, 68, 90, 1);
  box-shadow: 5px 5px 10px -6px rgba(66, 68, 90, 1);
}

@-webkit-keyframes fadeinout {
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeinoutcountry {
  100% {
    opacity: 1;
  }
}
